'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Verse of the day'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'votd:toggle'
        }      ]
    ]
  }
]
